<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Cześć, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Wyloguj się</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Stwórz Konto</a>
        <a href="Identity/Account/Login">Zaloguj się</a>
    </NotAuthorized>
</AuthorizeView>
